# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Environment variables
.env

# Virtual environments
venv/
env/
ENV/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# migrations (опционально — если хочешь, чтобы они генерировались заново)
**/migrations/*.py
!**/migrations/__init__.py

# Media / static (если собираются автоматически)
media/
staticfiles/
static/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover

# pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/

# Celery
celerybeat-schedule
celerybeat.pid

# gunicorn
gunicorn.pid

# Systemd service files
*.service
